<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="js-table-comment" class="table">
      <div><%= t('posts.index.total_comments') %>：<%= @post.comments.count %></div>
      <p><%= t('posts.index.trash') %>：<%= @post.comments.trash.count %>　<%= t('posts.index.untrash') %>：<%= @post.comments.untrash.count %></p>
      <%= render comments %>
    </table>
  </div>
</div>