<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <ul>
        <li class="nonmark"><%= link_to '断捨流とは', root_path %><l/i>
        <li class="nonmark"><%= link_to '断捨流の極め方（サイト利用方法）', usage_path %><l/i>
        <li class="nonmark"><%= link_to '利用規約', tos_path %><l/i>
        <li class="nonmark"><%= link_to 'プライバシーポリシー', pp_path %><l/i>
        <li class="nonmark"><%= link_to 'お問い合わせ', inquiry_path %><l/i>
      </ul>
    </div>
  </footer>
</div>
