<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <ul>
        <li class="nonmark"><%= link_to t('defaults.what_dansyaryu?'), root_path %><l/i>
        <li class="nonmark"><%= link_to t('defaults.how_to_use_site'), usage_path %><l/i>
        <li class="nonmark"><%= link_to t('users.new.terms_of_service'), tos_path %><l/i>
        <li class="nonmark"><%= link_to t('users.new.privacy_policy'), pp_path %><l/i>
        <li class="nonmark"><%= link_to t('defaults.inquiry'), inquiry_path %><l/i>
      </ul>
    </div>
  </footer>
</div>
