<nav class="navbar navbar-expand-lg navbar-default sticky-top">
  <div class="container-fluid">
    <%= link_to posts_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo-dansyaryu', :size =>'160x40' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <%= link_to t('defaults.posts'), posts_path, class: 'btn btn-primary btn-sm me-2' %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to t('posts.new.title'), new_post_path, class: 'btn btn-primary btn-sm me-2' %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <p class="rounded-circle gin" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <%= t('users.new.user_name') %>:<%= current_user.name %>
          </p>
        </li>
        <li class="dropdown ms-2 d-flex">
          <p class="gin" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <i class="fa-solid fa-gear fa-lg"></i>
          </p>
          <div class="dropdown-menu dropdown-menu-end">
            <div class="dropdown-item">
              <div class="d-flex">
                <div class="ms-3 lh-1">
                  <h5 class="mb-1"><%= current_user.name %></h5>
                  <p class="mb-0 text-muted"><%= current_user.email %></p>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item" href="/mypage">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.mypage') %>
                </a>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item" href="/mypage/post">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.my_posts') %>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/mypage/published">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.wanted_posts') %>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/mypage/draft">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.draft_posts') %>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/mypage/closing">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.closiing_posts') %>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/mypage/trash">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.trash_posts') %>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/mypage/untrash">
                  <i class="bi bi-person me-2"></i><%= t('mypages.show.untrash_posts') %>
                </a>
              </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li>
                <%= link_to logout_path, method: :get, data: { confirm: t('defaults.message.logout?') }, class: 'dropdown-item' do %>
                  <i class="bi bi-box-arrow-left me-2"></i><%= t('defaults.logout') %>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
