<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= (t 'mypages.show.title') %></h1>
      <%= link_to (t 'mypages.show.edit'), edit_mypage_path, class: 'btn btn-success float-right' %>
      <table class="table">
        <tr>
          <th scope="row"><%= (t 'mypages.show.name') %></th>
          <td><%= @current_user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.mail') %></th>
          <td><%= @current_user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_posts') %></th>
          <td><%= @current_user.posts.count %><%= (t 'mypages.show.posts') %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_wanted_posts') %></th>
          <td><%= @current_user.posts.published.count %><%= (t 'mypages.show.posts') %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_saved_drafts') %></th>
          <td><%= @current_user.posts.draft.count %><%= (t 'mypages.show.posts') %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_deadline_posts') %></th>
          <td><%= @current_user.posts.closing.count %><%= (t 'mypages.show.posts') %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_trash_posts') %></th>
          <td><%= @current_user.posts.trash.count %><%= (t 'mypages.show.posts') %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_untrash_posts') %></th>
          <td><%= @current_user.posts.untrash.count %><%= (t 'mypages.show.posts') %></td>
        </tr>
        <tr>
          <th scope="row"><%= (t 'mypages.show.total_bestanswer_comments') %></th>
          <td><%= @current_user.best_count %><%= (t 'mypages.show.comments') %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
