<% content_for(:title, @post.title) %>
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @post.img.url, class: 'card-img-top img-fluid', size: '300x200' %>
            </div>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @post.title %></h3>
              <% if logged_in? %>
                <% if current_user.own?(@post) %>
                    <%= render 'crud_menus', post: @post %>
                    <% if @post.closing? %>
                      <li class="list-inline-item">
                        <%= link_to judgment_post_path(@post) do %>
                          <%= t('posts.index.judgment') %>
                        <% end %>
                      </li>
                    <% end %>
                <% else %>
                    <%= render 'posts/favorite_button', post: @post %>
                    <%= render 'posts/vote_button', post: @post %>
                <% end %>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item"><%= t('posts.index.contributor') %>：<%= @post.user.name %></li></br>
                <li class="list-inline-item"><%= t('posts.index.posting_date') %>：<%= l @post.created_at, format: :short %></li></br>
                <li class="list-inline-item">
                  <%= t('categories.category') %>：
                  <% @post.categories.each do |item| %>
                    <%= item.name %>
                  <% end %>
                </li>
                <li><%= t('posts.index.status') %>：<%= @post.status_i18n %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@post.body) %></p>
          <%= render 'posts/vote_counter', post: @post %>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=断捨流に捨てるか迷っているものを投稿しました！
            %0a迷っているもの:#{ @post.title }%0a%0a詳細%0a#{ @post.body }%0a", target: '_blank' do %>
            <i class="fab fa-twitter" style='color: #3399FF;'></i><%= t('posts.index.share') %>
          <% end %>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <% if logged_in? %>
    <%= render 'comments/form', { post: @post, comment: @comment } %>
  <% end %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>